@media screen and (min-width : 992px) {
    .content {
        padding-left: 270px !important;
    }


}

@media screen and (max-width : 992px) {
    .sidebar , .mini_sidebar {
        display: none !important;
    }


}


.content {
    flex: 5;
    background: #FBF6F0;
    height: 100vh;
    overflow-y: auto;
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
.sidebar {
    width: 20%;
}
}

@media (max-width: 991px){
.sidebar {
    left: -280px;
    -webkit-transition: .5s;
    transition: .5s;
    top: 0;
    width: 280px;
    background: #fff;
}
}

@media (max-width: 991px){
.sidebar {
    left: -280px;
    -webkit-transition: .5s;
    transition: .5s;
    top: 0;
    width: 280px;
    background: #fff;
}
}

@media (max-width: 991px){
.active_sidebar {
    left: 0;
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
}
}


.box {
    background-color: #fff;
    border-radius:10px;
    transition: .5s;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
}

.line {
    background-color: #f64e60 !important ;
    width: 230px;
    height: 3px;
    display: inline-block;
}

.notification_btn {
    color: rgb(255, 33, 79) !important;
    font-weight: 500 !important;
}