@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');


.to-register:hover {
    color: #025595 !important;
}

.btn_success {
    background-color: green !important;
}

.btn_error {
    background-color: red !important;
}


a {
	cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}



.wrapper {	
	margin-top: 160px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}



	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}

.btn-block {
  display: block !important;
  width: 100% !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.btn-lg {
  padding: 10px 16px !important;
  font-size: 18px !important;
  line-height: 1.33 !important;
  border-radius: 6px !important;
}

.btn-primary2 {
  color: #fff !important;
  background-color: #428bca !important;
  border-color: #357ebd !important;
}

.btn {
  display: inline-block !important;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}