.Modal-container {
    position: absolute !important;
    top: 50% !important;
    left: 50%!important;
    transform: translate(-50%, -50%) !important;
    width: 70% !important;
    height: fit-content;
   border-radius: 30px;
    background-color: aliceblue !important;
}

.btn-close {
    color: #fff !important;
}